<div class="mc-main-aside">
    <div class="aside">
        <div class="menu-self">

            <div class="item-wrap first">
                <div class="item-title">
                    <a id="home" href="/home">首页</a>
                </div>
            </div>

            #if($sec.hasAnyRole('admin'))
                <div class="item-wrap ">
                    <div class="item-title">
                        系统管理
                    </div>

                   #if($sec.hasAnyRole('admin'))
                        <div class="item sub">
                            <i></i>
                            <a id="userList" href="/user/list">用户管理</a>
                        </div>
                    #end
                </div>
            #end

            <div class="item-wrap ">
                <div class="item-title">
                    物流管理
                </div>
                <div class="item sub">
                    <i></i>
                    <a id="abLocOrderList" href="/abnormal/loc/order/list">异常物流单管理</a>
                </div>
            </div>

        </div>
    </div>

    <input type="hidden" id="menuIndex" value="$!{menuIndex}">

</div>

<script type="text/javascript">
    $(function () {
        var menuIndexVal = $("#menuIndex").val() || "home";
        $("#"+menuIndexVal).parent().addClass("current");
    })
</script>


