<link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5.3/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5.3/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5.3/themes/color.css">

<script type="text/javascript" src="/js/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>

<style type="text/css">

    .customer-tally-edit {
        float: left;
        margin-left: 20%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .edit-table td {
        padding-bottom: 15px;
    }

    .edit-table td:first-child {
        width: 33%;
        text-align: right;
        padding-right: 20px;
    }

    .f1 {
        width: 300px;
    }

    .f2{
        width: 80px;
    }

    .warn{
        font-size: 16px;
        color: red;
    }

    .improtant{
        font-size: 24px;
        color: red;
        height: 40px;
        font-family: "Microsoft YaHei";
    }

    .otherLine{
        display: block;
    }
</style>


<input type="hidden" id="_csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>

<div class="customer-tally-edit">
    <div class="easyui-panel" title="编辑客户账单" style="width:600px;padding:10px;">
        <form id="ff" action="/customerTally/edit" method="post" enctype="multipart/form-data">

            <input type="hidden" id="id" name="id" value="$customerTallyDTO.id">

            <input type="hidden" id="cutomerId" name="customerId" value="$customerTallyDTO.customerId">

            <table class="edit-table" width="100%">
                <tr>
                    <td>
                        <lable>记录人:</lable>
                    </td>
                    <td><lable>$customerTallyDTO.reporterName</lable></td>
                </tr>
                <tr>
                    <td>
                        <lable>记录时间:</lable>
                    </td>
                    <td>$customerTallyDTO.reportDateStr</td>
                </tr>
                <tr>
                    <td>
                        <lable>客户公司名:</lable>
                    </td>
                    <td><lable id="company-lable" class="warn">$customerTallyDTO.company</lable></td>
                </tr>
                <tr>
                    <td>
                        <lable>支出账户类型:</lable>
                    </td>
                    <td><input class="easyui-textbox f1" data-options="prompt:'如招商银行、支付宝'" id="fromAccountType" name="fromAccountType" value="$customerTallyDTO.fromAccountType"/></td>
                </tr>
                <tr>
                    <td>
                        <lable>支出账户:</lable>
                    </td>
                    <td><input class="easyui-textbox f1" data-options="" name="fromAccount" id="fromAccount"  value="$customerTallyDTO.fromAccount"/></td>
                </tr>
                <tr>
                    <td>
                        <lable>转入账户类型:</lable>
                    </td>
                    <td><input class="easyui-textbox f1" data-options="prompt:'如招商银行、支付宝'" name="toAccountType" id="toAccountType" value="$customerTallyDTO.toAccountType"/></td>
                </tr>
                <tr>
                    <td>
                        <lable>转入账户:</lable>
                    </td>
                    <td><input class="easyui-textbox f1" data-options="" name="toAccount" id="toAccount" value="$customerTallyDTO.toAccount"/></td>
                </tr>
                <tr>
                    <td>
                        <lable>账单类型:</lable>
                    </td>
                    <td>
                        #if($customerTallyDTO.type == 'in')
                            <lable class="warn">入账</lable>
                        #elseif($customerTallyDTO.type == 'out')
                            <lable class="warn">出账</lable>
                        #end
                    </td>
                </tr>
                <tr>
                    <td>
                        <lable>金额</lable>
                    </td>
                    <td>
                        <lable id="amount-label" class="improtant"></lable><lable class="warn"> 元</lable>
                    </td>
                </tr>
                <tr>
                    <td>
                        <lable>记录前余额:</lable>
                    </td>
                    <td><lable id="balance-label" class="improtant"></lable><lable class="warn"> 元</lable></td>
                </tr>

                <tr>
                    <td>
                        <lable>记录后余额:</lable>
                    </td>
                    <td><lable id="customerBalance-label" class="improtant"></lable><lable class="warn"> 元</lable></td>
                </tr>
                <tr>
                    <td>
                        <lable>说明:</lable>
                    </td>
                    <td><input class="easyui-textbox f1" data-options="height:60" multiline='true' name="description" required="true" value="$customerTallyDTO.description"/></td>
                </tr>


                #if($customerTallyDTO.credentialsImgUrl)
                    <tr>
                        <td>
                            <lable>截图(已上传):</lable>
                        </td>
                        <td><a target="_blank" href="/images/customer/$customerTallyDTO.credentialsImgUrl">点击查看(若重新上传,老图将被覆盖)</a></td>
                    </tr>
                #end
                <tr>
                    <td>
                        <lable>截图(只接受图片,最大2M):</lable>
                    </td>
                    <td><input id="file" name="file" type="text" style="width:300px"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-default btn-block" value="Submit"></input></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#ff').form({
            onSubmit: function(param){
                param._csrf = $("#_csrf").val();
            },
            success: function (data) {

                var data = eval('(' + data + ')');

                if(data && data.success){
                    $.messager.alert('Info', "修改成功！", 'info');
                    setTimeout(function(){
                        window.location.href="/customerTally/listPage"
                    },3000);
                } else{
                    $.messager.alert('Info', "修改失败！请刷新页面后重试", 'info');
                }
            }
        });

        $("#amount-label").text(fenToYuan($customerTallyDTO.amount));
        $("#balance-label").text(fenToYuan($customerTallyDTO.customerLastBalance));
        $("#customerBalance-label").text(fenToYuan($customerTallyDTO.customerBalance));

    });

    $(function () {
        $('#file').filebox({
            buttonText: 'Choose File',
            buttonAlign: 'left',
            accept: 'image/*'
        });
    })

    function fenToYuan(fen){
        var str = (fen/100).toFixed(2) + '';
        var intSum = str.substring(0,str.indexOf(".")).replace( /\B(?=(?:\d{3})+$)/g, ',' );//取到整数部分
        var dot = str.substring(str.length,str.indexOf("."))//取到小数部分
        var ret = intSum + dot;
        return ret;
    }

</script>